<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="light-body">

<div class="card">

  <h2>Welcome, {{ user }}</h2>
  <p class="sub">Check project similarity</p>

  <textarea id="projectInput" placeholder="Enter project details..."></textarea>

  <input type="file" id="fileInput">

  <button class="btn" onclick="checkSimilarity()">Check</button>
  <button class="btn secondary" onclick="clearText()">Clear</button>

  <div id="resultBox" class="result"></div>

  <p class="bottom-text">
    <a href="/logout" class="link">Logout</a>
  </p>

</div>

<script>
function clearText() {
  document.getElementById("projectInput").value = "";
  document.getElementById("fileInput").value = "";
}

async function checkSimilarity() {
  alert("Backend API connect here");
}
</script>

</body>
</html>